.product-detail .ant-list-item {
  justify-content: flex-start;
}
.product-detail .left {
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}
.product-detail .product-img {
  width: 200px;
  height: 200px;
  border: 1px solid #002140;
  margin-right: 10px;
}
